@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 10vh;
}

body {
    width: 100vw;
}

/* Nav */

.nav {
    height: 10vh;
    position: fixed;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vw;
    width: 100vw;
    background-color: #3ebeff;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3vw;
}

.nav-list > li {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
}

.nav-link > button {
    background-color: hsl(0, 0%, 100%);
    color: black;
    border-radius: 20px;
    border: none;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 12px;
    padding: 1.5vh 2vw;
}

.nav-link > button:hover {
    background-color: hsl(0, 0%, 100%, 0.3);
    color: hsl(0, 0%, 100%);
}

/* Home */

.home {
    background-image: url(./images/desktop/image-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.home-title {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    color: hsl(0, 0%, 100%);
    position: absolute;
    top: 20vh;
    letter-spacing: 1vw;
    font-size: 40px;
}

.home-arrow {
    height: 15vh;
    position: absolute;
    top: 43%;
}

/* About */

.about {
    height: 132vh;
    background-color: hsl(0, 0%, 100%);
}

.about-section {
    height: 66vh;
    width: 100vw;
    display: flex;
}

.about-item {
    width: 50vw;
    height: 66vh;
}

.about-item > h1 {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    color: hsl(212, 27%, 19%);
    font-size: 34px;
}

.egg {
    background-image: url(./images/desktop/./image-transform.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.glass {
    background-image: url(./images/desktop/./image-stand-out.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/* Services */
.services {
    height: 66vh;
}

.services-section {
    height: 66vh;
    width: 100vw;
    display: flex;

}

.services-item {
    width: 50vw;
    height: 66vh;
}

.cherry {
    background-image: url(./images/desktop/./image-graphic-design.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.orange {
    background-image: url(./images/desktop/./image-photography.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

/* Projects */

.projects {
    height: 100vh;
    width: 100vw;
    background-color: hsl(0, 0%, 100%);
}

/* Contact */

.contact {
    height: 100vh;
    width: 100vw;
    background-color: #91d3c5;
}

.contact-images {
    height: 55vh;
    width: 100vw;
    display: flex;
}

.contact-image {
    height: 55vh;
    width: 25vw;
}

.milk {
    background-image: url(./images/desktop/./image-gallery-milkbottles.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bowl {
    background-image: url(./images/desktop/./image-gallery-orange.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cone {
    background-image: url(./images/desktop/./image-gallery-cone.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.sugar {
    background-image: url(./images/desktop/./image-gallery-sugarcubes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.contact-links {
    width: 100vw;
    height: 45vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contact-links > a > img {
    padding-left: 45vw;
    padding-right: 45vw;
    filter: brightness(0) saturate(100%) invert(27%) sepia(43%) saturate(486%) hue-rotate(116deg) brightness(92%) contrast(91%);
}

.contact-links > .nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 7vh;
    padding-left: 40vw;
    padding-right: 40vw;
}

.contact-links > .nav-list > li {
    list-style: none;
}

.contact-links > .nav-list > li > .nav-link {
    text-decoration: none;
    color: hsl(168, 34%, 41%);
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
}

.contact-links > .nav-list > li > .nav-link:hover {
    color: hsl(0, 0%, 100%)
}

.contact-socials {
    text-align: center;
    letter-spacing: 0.75vw;
    padding-top: 10vh;
}

.contact-socials > i {
    color: #25564b;
    font-size: 22px;
}

.contact-socials > i:hover {
    color: hsl(0, 0%, 100%);
}