@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Nav */

.nav {
    height: 10vh;
    position: fixed;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vw;
    width: 100vw;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3vw;
}

.nav-list > li {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-family: 'Barlow', sans-serif;
    font-size: 12px;
}

.nav-link > button {
    background-color: hsl(0, 0%, 100%);
    color: black;
    border-radius: 20px;
    border: none;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 12px;
    padding: 1vh 2vw;
}

/* Home */

.home {
    background-image: url(./images/desktop/image-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.home-title {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    color: hsl(0, 0%, 100%);
    position: absolute;
    top: 20vh;
    letter-spacing: 1vw;
    font-size: 40px;
}

.home-arrow {
    height: 15vh;
    position: absolute;
    top: 43%;
}